<div class="flex">
    <div class="flex__item page">
        <h2 class="ms2 page__title">{{currentDate}}</h2>

        <div class="page__entries">
            {{#each itemController="entry"}}
                {{#if editMode}}
                    <div class="space--large">
                    {{edit-entry class="page__entries__item--edit" value=text
                        focus-out="saveChanges" insert-newline="saveChanges"}}
                    </div>
                {{else}}
                <div class="page__entries__item group space--large">
                    <p class="pull-left ms4 page__entries__item__text">{{text}}</p>

                    {{#if editable}}
                    <div class="pull-right page__entries__item__hint">
                        <a href="#" {{action "editEntry"}}><i class="fa fa-edit"></i></a>
                        <a href="#" {{action "deleteEntry"}}><i class="fa fa-close"></i></a>
                    </div>
                    {{/if}}
                </div>
                {{/if}}
            {{/each}}
        </div>

        {{#if isPresent}}
        <div class="new-entry">
            {{input type="text" class="new-entry__input" placeholder="Enter a new entry"
                value=newEntry action="createEntry"}}
        </div>
        {{/if}}
    </div>
</div>
